.drawCardButton {
  background-color: #385170;
  border: 1px dashed #9fd3c7;
  font-size: 28px;
  color: #ececec;
  padding: 20px;
  border-radius: 25px;
}

.drawCardButton:hover {
  cursor: pointer;
  border: 1px solid #9fd3c7;
  background-color: #385170;
  color: #9fd3c7;
}

.drawAnotherCardButton {
  background-color: #385170;
  border: 1px dashed #9fd3c7;
  font-size: 28px;
  color: #ececec;
  padding: 5px;
  border-radius: 25px;
  margin: 5px 0px;
}

.drawAnotherCardButton:hover {
  cursor: pointer;
  border: 1px solid #9fd3c7;
  background-color: #385170;
  color: #9fd3c7;
}

.cardSelected {
  display: flex;
  flex-direction: row;
}

.selectedCardImage {
  height: 150px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  margin: 15px;
  align-items: center;
  justify-content: center;
}

.attributeLink {
  color: #ececec;
  text-decoration: none;
  margin: 10px 0;
}

.attributeLink:hover {
  text-decoration: underline;
}

@media (max-width: 1127px) {
  .cardSelected,
  .attributeLink {
    font-size: 18px;
  }

  .drawCardButton,
  .drawAnotherCardButton {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  .cardSelected {
    align-self: center;
  }
}

@media (max-width: 450px) {
  .selectedCardImage {
    width: 90px;
    height: 120px;
  }

  .drawCardButton,
  .drawAnotherCardButton {
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  .selectedCardImage {
    width: 60px;
    height: 90px;
  }

  .cardSelected,
  .attributeLink {
    font-size: 16px;
  }
}
