.attributes {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  animation-name: appear;
  animation-duration: 1s;
}

h3 {
  margin: 0px 0px 10px;
}

@keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.attributeLink {
  color: #ececec;
  text-decoration: none;
  margin: 10px 0;
}

.attributeLink:hover {
  text-decoration: underline;
}

@media (max-width: 787px) {
  a {
    font-size: 18px;
  }
  h3 {
    font-size: 20px;
  }
}

@media (max-width: 457px) {
  a {
    font-size: 14px;
  }
  h3 {
    font-size: 16px;
  }
}
