.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #152e4c;
  opacity: 65%;
  color: #ddd;
  height: 40px;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footerText {
  flex: 1;
  display: flex;
  justify-content: center;
}

.attributes {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
}

.attributesButton {
  background-color: #152e4c;
  border: none;
  border-radius: 20px;
  color: #ddd;
  cursor: pointer;
  margin-right: 20px;
}

/* @media (max-width: 434px) {
  .footer {
    padding: 0 20px;
  }
} */

@media (max-width: 434px) {
  /* .footer {
    padding: 0 40px;
  } */

  .footerText {
    font-size: 13px;
  }
}
