.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  background-color: #142d4c;
  padding: 20px 30px;
  position: sticky;
  top: 0;
}

.logoText {
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  /* display: inline-block; */
}

.logoPicture {
  width: auto;
  max-height: 40px;
  padding: 5px;
}

.menu {
  display: flex;
  width: 800px;
  justify-content: space-around;
}

.left {
  flex: 1;
  display: flex;
}

.languages {
  text-align: right;
  flex: 1;
}

.logoLink {
  text-decoration: none;
  color: #ececec;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
