.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
}

.contactsSeciton {
  display: flex;
  flex-direction: row;
  margin: 15px 0 55px;
}

.linkedinLogo {
  width: 40px;
  border-radius: 10px;
  border: 2px white solid;
  background: white;
  margin: 0 10px;
}

.gmailLogo {
  width: 40px;
  margin: 0 10px;
  border-radius: 10px;
}

.messengerLogo {
  width: 40px;
  margin: 0 10px;
}

.contactInfo {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
}

.socialLink {
  text-decoration: none;
  color: #ececec;
}

.socialLink:hover {
  text-decoration: underline;
}

.copyMail {
  cursor: pointer;
}

.copyMail:hover {
  text-decoration: underline;
}

.copiedMessage {
  animation-name: appearAndDissapear;
  animation-duration: 2s;
}

@keyframes appearAndDissapear {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  75% {
    opacity: 0%;
  }
}
