.gallery {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.gallerySection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  margin: 20px;
  align-items: flex-start;
  align-content: flex-start;
  min-height: 85vh;
}

@media (max-width: 1488px) {
  .gallery {
    justify-content: center;
  }

  .gallerySection {
    justify-content: center;
  }
}
