.exampleButtonModal {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
}

.gallery {
  display: flex;
  flex-direction: row;
  height: 85vh;
}

.gallerySection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  margin: 20px;
  align-items: flex-start;
  align-content: flex-start;
}

.dynamicGalleryLink {
  color: #ececec;
  text-decoration: none;
  font-size: 25px;
}

.dynamicGalleryLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dynamicGalleryLinkWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 10px;
}

@media (max-width: 1488px) {
  .gallery {
    justify-content: center;
  }

  .gallerySection {
    justify-content: center;
  }
}
