.attributes {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.attributeLink {
  color: #ececec;
  text-decoration: none;
  margin: 10px 0;
}

.attributeLink:hover {
  text-decoration: underline;
}
