.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 40%;
  z-index: 1;
}

.modal {
  display: block;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 8px black;
  background-color: #385170;
  color: #ececec;
  padding: 0px;
  overflow: hidden;
  z-index: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
