.welcomeSection {
  display: flex;
  flex-direction: row;
}

.welcomeSectionTexts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.underline {
  margin-left: 20%;
  width: 60%;
}
