.paginationList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.paginationButton {
  min-height: 40px;
  min-width: 20px;
  font-size: 15px;
  color: #ececec;
  background-color: #142d4c;
  border: 1px solid transparent;
  padding: 0 10px;
}

.paginationButton:disabled {
  background-color: #333;
}

.paginationButton:hover:disabled {
  border: 1px solid transparent;
  cursor: default;
}

.paginationButtonActive {
  min-height: 40px;
  min-width: 20px;
  font-size: 15px;
  color: #ececec;
  background-color: #142d4c;
  border: 1px solid #9fd3c7;
  padding: 0 10px;
}

.paginationButton:last-child {
  padding-right: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.paginationButton:first-child {
  padding-left: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.paginationButton:hover {
  cursor: pointer;
  border: 1px dotted #9fd3c7;
}
